@font-face {
  font-family: GN;
  src: url('../fonts/GN/GN-KillGothic-U-KanaNA.ttf')
}

@font-face {
  font-family: NJP;
  src: url('../fonts/NJP/NotoSansJP-Regular.ttf')
}

@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --font-GN: GN;
  --font-NJP: NJP;
}

:root {
  --background: #F8F7F2;
  --Display: #202926
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #16151D;
    --Display: #DFDCD4
  }
}


* {
  box-sizing: border-box;
}

body {
  background: var(--background);
}

.Display-Text {
  color: var(--Display);
}
